# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables / secrets
.env

# Distribution
build/
dist/
*.egg-info/

# TXT files
areas_Feynman.txt
orbit_Euler.txt
orbit_Feynman.txt
